/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
  .tab-header-background{
	-fx-background-color: "#359565";
} 
 /* .tab:selected{-fx-background: "#29734E"} */
 


.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: "#29734E";

}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: "#29734E";
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: "#29734E";
    
    
}
.chart-title {
  -fx-text-fill: #bbb6b6;

 }